body {
    font-size: 14px;
    font-family: "PTSans", "Arial", serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1.857;
    text-align: center;
}

.content h2,
.sort-results h2 {
    font-size: 21px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.238;
}

.hotel-filter {
    background-color: #91bdd9;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: left;
}

.hotel-filter legend {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.313;
    text-align: left;
}

.intro-picture {
    background-color: #91bdd9;
    background-image: url("../img/background-main.jpg");
}

.content .line2 .item,
.content .line1 .item,
.content .line2 .item h2,
.content .line1 .item h2,
.about {
    background-color: #81b3d2;
    color: rgb(255, 255, 255);
}