        /* basic styles*/
        
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: "PT Sans", "Arial", sans-serif;
            color: rgb(0, 0, 0);
            text-transform: uppercase;
            line-height: 1.857;
            text-align: center;
        }
        
        .wrapper {
            height: 100%;
            min-width: 768px;
            max-width: 1200px;
            margin: 0 auto;
            /*background-color: #f2f2f2;*/
        }
        
        button {
            font: inherit;
        }
        
        .result-item .hotel-title {
            color: rgb(0, 0, 0);
        }
        
        .search-screen b {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.2;
        }
        
        .search-screen p {
            line-height: 24px;
        }
        
        .sort-block b {
            text-align: left;
        }
        
        .sort-block span,
        .sort-by-types a {
            font-size: 12px;
            text-align: left;
        }
        
        .sort-block span,
        .sort-by-types {
            line-height: 18px;
        }
        
        .content .about p {
            color: rgb(51, 51, 51);
        }
        
        .content h2,
        .sort-results h2,
        .insta a,
        .sort-block b {
            font-size: 21px;
            font-weight: bold;
            line-height: 1.238;
        }
        
        .hotel-filter {
            background-color: #91bdd9;
            background-image: url("../img/filter background.jpg");
            color: rgb(255, 255, 255);
            line-height: 1.5;
            text-align: left;
        }
        
        .site-nav a,
        .hotel-search .plusminus-button {
            font-weight: bold;
        }
        
        .hotel-filter legend {
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.313;
            text-align: left;
        }
        
        .content .line2 .item,
        .content .line1 .item,
        .content .line2 .item h2,
        .content .line1 .item h2,
        .result-item .about {
            background-color: rgba(129, 179, 210, 1);
            color: rgb(255, 255, 255);
        }
        
        .item h2,
        .item p,
        .result-item a {
            line-height: 21px;
        }
        
        .on-off-search,
        .button2search {
            background-color: rgb(118, 99, 87);
            font-size: 21px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.238;
            border: none;
        }
        
        .result-item .book {
            background-color: rgb(118, 99, 87);
            color: rgb(255, 255, 255);
            line-height: 1.238;
        }
        
        .button2search {
            background-color: rgb(129, 179, 210);
        }
        
        .hotel-search label {
            font-weight: bold;
            text-align: left;
        }
        
        .daily-rate button {
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            line-height: 1.5;
        }
        
        .daily-rate input {
            line-height: 21px;
        }
        
        .result-item .rating {
            background-color: rgb(242, 242, 242);
            color: rgb(102, 102, 102);
            line-height: 1.5;
        }
        
        .html-logo img {
            width: 115px;
            height: 41px;
        }
        /*!!!interactive elements statuses!!!*/
        
        .daily-rate button:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
        
        .main-navigation li,
        .sort-block li,
        .hotel-filter li {
            list-style: none;
        }
        
        .main-navigation a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        
        .main-navigation a:hover {
            color: rgb(129, 179, 210);
        }
        
        .main-navigation a:active,
        .sort-by-types a {
            color: rgba(0, 0, 0, 0.3);
        }
        /*
    .main-navigation .site-nav .current {
        color: rgb(118, 99, 87);
    }*/
        /*for sort by types*/
        
        .sort-by-types a:hover {
            color: rgba(129, 179, 210, 1);
        }
        
        .sort-by-types a:active {
            color: rgba(0, 0, 0, 1);
            text-decoration: none;
        }
        /*.sort-by-types .current {
        color: rgba(129, 179, 210, 1);
        text-decoration: none;
    }*/
        /*UP and DONW sort buttons*/
        
        .sort-results a {
            text-decoration: none;
        }
        /*for button 'ABOUT'*/
        
        .result-item a.about:hover,
        .hotel-search .button2search:hover,
        .social-nets li:hover {
            background-color: rgba(102, 158, 192, 1);
        }
        
        .result-item a.about:active,
        .hotel-search .button2search:active,
        .social-nets li:active {
            background-color: rgba(84, 150, 189, 1);
            color: rgba(255, 255, 255, 0.3);
        }
        /*for button 'BOOK'*/
        
        .result-item a.book:hover,
        .search-screen .on-off-search:hover {
            background-color: rgb(96, 78, 67);
        }
        
        .result-item a.book:active,
        .search-screen .on-off-search:active {
            background-color: rgb(80, 61, 51);
            color: rgba(255, 255, 255, 0.3);
        }
        /*for hotel titles*/
        
        .result-item .hotel-title:hover {
            color: rgba(129, 179, 210, 1);
        }
        
        .result-item .hotel-title:active {
            color: rgba(0, 0, 0, 0.3);
        }
        /*for input fields in hotel search*/
        
        .hotel-search input {
            background-color: rgb(242, 242, 242);
            line-height: 26px;
        }
        
        .hotel-search input:hover {
            background-color: rgb(235, 235, 235);
        }
        
        .hotel-search input:focus {
            background-color: rgb(255, 255, 255);
        }
        
        .hotel-search .plusminus-button,
        .hotel-search .calendar-icon {
            background-color: rgb(242, 242, 242);
        }
        
        .hotel-search .plusminus-button {
            color: rgba(0, 0, 0, 0.3);
        }
        
        .hotel-search .plusminus-button:hover {
            color: rgba(0, 0, 0, 1);
        }
        
        .hotel-search .plusminus-button:active {
            color: rgba(129, 179, 210, 1);
        }
        
        .hotel-search .calendar-icon:hover {
            fill: rgba(0, 0, 0, 1);
        }
        
        .hotel-search .calendar-icon:active {
            fill: rgba(129, 179, 210, 1);
        }
        
        .sort-button a svg {
            fill: rgba(0, 0, 0, 0.3);
        }
        
        .sort-button a:hover svg {
            fill: rgba(0, 0, 0, 1);
        }
        
        .sort-button a:active svg {
            fill: rgba(129, 179, 210, 1);
        }
        
        .sort-button .current svg {
            /*!!! same as :active !!!*/
        }
        
        .daily-rate .rangebutton:hover {
            box-sizing: content-box;
            width: 22px;
            height: 24px;
        }
        /*!!!-----BACKGROUNDS-----!!!*/
        
        .hotel-filter .infrastructure input,
        .hotel-filter li {
            cursor: pointer;
        }
        
        .hotel-filter .infrastructure input::before {
            width: 23px;
            height: 23px;
            content: "";
            background: transparent url("../img/checkbox-on.svg") no-repeat;
        }
        
        .daily-rate .rangebutton {
            box-sizing: content-box;
            width: 20px;
            height: 22px;
            background: url("../img/filter-button.svg") no-repeat;
        }
        
        .hotel-search .calendar-icon {
            box-sizing: border-box;
            fill: rgba(0, 0, 0, 0.3);
        }
        
        footer .social-nets li {
            list-style: none;
            box-sizing: content-box;
            width: 46px;
            height: 48px;
            background-color: rgba(129, 179, 210, 1);
        }
        
        footer .social-nets img {
            margin-top: 30%;
        }
        
        .content .features .item {
            margin: 0;
            padding: 160px 6% 0 6%;
            flex-basis: 33%;
            outline: 1px solid red;
        }
        
        .content .features .item:nth-child(1) {
            background: url("../img/icon-1.svg") 50% 60px no-repeat;
        }
        
        .content .features .item:nth-child(2) {
            background: url("../img/icon-3.svg") 50% 60px no-repeat;
        }
        
        .content .features .item:nth-child(3) {
            background: url("../img/icon-2.svg") 50% 60px no-repeat;
        }
        /*  !!!  basic STYLE !!!  */
        
        .main-navigation {
            width: 100%;
            height: 56px;
            position: relative;
        }
        
        .main-navigation>a {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
            z-index: 10;
        }
        
        .site-nav {
            display: flex;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0 6%;
        }
        
        .site-nav li {
            flex-basis: 20%;
            margin: auto 0;
        }
        
        .site-nav li:nth-child(1) a,
        .site-nav li:nth-child(2) a {
            text-align: left;
        }
        
        .site-nav li:nth-child(3) a,
        .site-nav li:nth-child(4) a {
            text-align: right;
        }
        
        .site-nav li a {
            display: block;
        }
        
        .intro {
            width: 100%;
            height: 510px;
            margin: 0;
            padding: 0;
            outline: 3px solid black;
        }
        
        .intro-picture {
            margin: 0;
            padding: 0;
            height: 100%;
            background-color: #91bdd9;
            background-image: url("../img/shadow-intro.png"), url("../img/background-main.jpg");
            background-repeat: no-repeat;
            background-position: bottom, 0% 32%;
            background-size: 100%, cover;
            position: relative;
        }
        
        .intro-picture .active-text,
        .intro-picture .fixed-text {
            position: absolute;
        }
        
        .intro-picture .fixed-text {
            top: 77px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
        .intro-picture .active-text {
            width: 270px;
            height: 40px;
            position: absolute;
            background: url("../img/to_the_gorgeous.png") 50% 50% no-repeat;
            top: 137px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 10;
        }
        
        .intro:hover .active-text {
            background: url("../img/to_the_gorgeous_hov.png") 50% 50% no-repeat;
        }
        
        .intro-picture img {
            display: block;
            margin: 0 auto;
        }
        
        .content {
            margin: 0;
            padding: 0;
        }
        
        .content .about {
            margin: 0;
            padding: 50px 120px;
            min-height: 216px;
            box-sizing: border-box;
            word-wrap: break-word;
            outline: 1px solid green;
        }
        
        .content section {
            outline: 1px solid black;
        }
        
        .content .features,
        .content .facts {
            display: flex;
            padding: 0;
            margin: 0;
        }
        
        .content .facts {
            min-height: 256px;
        }
        
        .content .features {
            min-height: 330px;
        }
        
        .content .line3 {
            background-color: rgb(238, 238, 238);
        }
        
        .facts.line1 .item,
        .facts.line3 .item {
            flex-basis: 33%;
            margin: 0;
            padding: 0;
        }
        
        .content .item-info {
            margin: 0;
            padding: 10% 15% 0 15%;
        }
        
        .facts.line1 .item.picture {
            flex-basis: 67%;
            background: url("../img/real_city-pic.jpg") 50% 50% no-repeat;
            background-size: cover;
        }
        
        .facts.line2 .item {
            flex-basis: 33%;
            order: 2;
        }
        
        .facts.line2 .item.picture {
            flex-basis: 67%;
            background: url("../img/devils_bridge-pic.jpg") 50% 50% no-repeat;
            background-size: cover;
            order: 1;
        }
        /* !!!!!!!!!!!!1 11111111111*/
        
        .search-screen .on-off-search {
            margin: 0;
            padding: 0;
            margin-top: 55px;
            width: 568px;
            height: 86px;
        }
        
        .search-screen .hotel-search {
            margin: 0 auto;
            width: 458px;
            height: 285px;
            position: relative;
            /*display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;*/
            text-align: left;
            outline: 1px solid greenyellow;
        }
        
        .hotel-search-conteiner {
            position: relative;
            box-sizing: border-box;
            width: 568px;
            height: 395px;
            margin: 0 auto;
            padding: 55px;
            outline: 1px solid red;
            background-color: rgb(255, 255, 255);
        }
        
        .search-screen .maps {
            position: relative;
            width: 100%;
            height: 480px;
            z-index: -1;
            background: url("../img/map.png") 50% 50% no-repeat;
        }
        
        .search-screen {
            position: relative;
        }
        
        .search-screen .visualy-hidden {
            display: ;
        }
        
        .search-screen input[name="adults"],
        .search-screen input[name="infants"],
        .search-screen .plusminus-button,
        .search-screen .calendar-icon {
            width: 38px;
            height: 38px;
        }
        
        .search-screen input[name="startdate"],
        .search-screen input[name="finaldate"] {
            width: 308px;
            height: 38px;
        }
        
        .search-screen .button2search {
            width: 458px;
            height: 58px;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        
        .hotel-search>input,
        .hotel-search>label,
        .hotel-search>button {
            display: inline-block;
            position: absolute;
            margin: 0;
            padding: 0;
            outline: none;
            border: none;
        }
        
        .hotel-search .calendar-icon.first {
            top: 0;
            right: 0;
        }
        
        .hotel-search input[id="startdate"] {
            top: 0;
            right: 38px;
        }
        
        .hotel-search .calendar-icon.second {
            top: 68px;
            right: 0;
        }
        
        .hotel-search input[id="finaldate"] {
            top: 68px;
            right: 38px;
        }
        
        .hotel-search .plusminus-button.four {
            top: 136px;
            right: 0;
        }
        
        .hotel-search input[id="infants"] {
            top: 136px;
            right: 38px;
            text-align: center;
        }
        
        .hotel-search .plusminus-button.three {
            top: 136px;
            right: 76px;
        }
        
        .hotel-search .plusminus-button.one {
            top: 136px;
            left: 112px;
        }
        
        .hotel-search input[id="adults"] {
            top: 136px;
            left: 150px;
            text-align: center;
        }
        
        .hotel-search .plusminus-button.two {
            top: 136px;
            left: 188px;
        }
        
        .hotel-search label[for="adults"] {
            top: 144px;
            left: 0;
        }
        
        .hotel-search label[for="infants"] {
            top: 144px;
            left: 280px;
        }
        
        .hotel-search label[for="startdate"] {
            top: 7px;
            left: 0;
        }
        
        .hotel-search label[for="finaldate"] {
            top: 74px;
            left: 0;
        }
        
        .hotel-search>input {
            margin-bottom: 30px;
            margin-left: auto;
        }
        
        .search-screen {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            padding-top: 60px;
            outline: 1px solid red;
        }
        
        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgba(242, 242, 242, 0.9);
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        footer .social-nets ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        footer .social-nets li {
            margin-right: 8px;
        }
        
        footer a {
            display: block;
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        /* !!!!  same for hotels.html  !!!!*/
        
        .hotel-filter form {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            /*background-color: #669ec0;*/
        }
        
        .sort-block {
            display: flex;
            align-items: baseline;
            background-color: #b289d4;
        }
        
        .sort-block span {}
        
        .sort-block .sort-by-types {
            display: flex;
            width: 400px;
            justify-content: space-around;
        }
        
        .sort-block .sort-button {
            display: flex;
            margin-left: auto;
        }
        
        .sort-results .result-item {
            height: 155px;
            outline: 1px solid red;
            background-color: #e4ef34;
            display: flex;
            justify-content: flex-start;
        }
        
        .sort-results .result-item .hotel-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .sort-results .result-item .rating-block {
            margin-left: auto;
        }
        
        .visualy-hidden {
            /* display: none;*/
        }