        /* basic styles*/
        
        body {
            margin: 0;
            padding: 0;
            font-size: 14px;
            font-family: "PT Sans", "Arial", sans-serif;
            color: rgb(0, 0, 0);
            text-transform: uppercase;
            line-height: 1.857;
            text-align: center;
        }
        
        button {
            font: inherit;
        }
        
        .result-item .hotel-title {
            color: rgb(0, 0, 0);
        }
        
        .search-screen b {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.2;
        }
        
        .search-screen p {
            line-height: 24px;
        }
        
        .sort-block b {
            text-align: left;
        }
        
        .sort-block span,
        .sort-by-types a {
            font-size: 12px;
            text-align: left;
        }
        
        .sort-block span,
        .sort-by-types {
            line-height: 18px;
        }
        
        .content .about p {
            color: rgb(51, 51, 51);
        }
        
        .content h2,
        .sort-results h2,
        .insta a,
        .sort-block b {
            font-size: 21px;
            font-weight: bold;
            line-height: 1.238;
        }
        
        .hotel-filter {
            background-color: #91bdd9;
            background-image: url("../img/filter background.jpg");
            color: rgb(255, 255, 255);
            line-height: 1.5;
            text-align: left;
        }
        
        .site-nav a,
        .hotel-search .plusminus-button {
            font-weight: bold;
        }
        
        .hotel-filter legend {
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.313;
            text-align: left;
        }
        
        .intro-picture {
            background-color: #91bdd9;
            background-image: url("../img/background-main.jpg");
        }
        
        .content .line2 .item,
        .content .line1 .item,
        .content .line2 .item h2,
        .content .line1 .item h2,
        .result-item .about {
            background-color: rgba(129, 179, 210, 1);
            color: rgb(255, 255, 255);
        }
        
        .item h2,
        .item p,
        .result-item a {
            line-height: 21px;
        }
        
        .on-off-search,
        .button2search {
            background-color: rgb(118, 99, 87);
            font-size: 21px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.238;
        }
        
        .result-item .book {
            background-color: rgb(118, 99, 87);
            color: rgb(255, 255, 255);
            line-height: 1.238;
        }
        
        .button2search {
            background-color: rgb(129, 179, 210);
        }
        
        .hotel-search label {
            font-weight: bold;
            text-align: left;
        }
        
        .daily-rate button {
            background-color: transparent;
            border: 1px solid rgb(255, 255, 255);
            color: rgb(255, 255, 255);
            line-height: 1.5;
        }
        
        .daily-rate input {
            line-height: 21px;
        }
        
        .result-item .rating {
            background-color: rgb(242, 242, 242);
            color: rgb(102, 102, 102);
            line-height: 1.5;
        }
        
        .html-logo img {
            width: 115px;
            height: 41px;
        }
        /*!!!interactive elements statuses!!!*/
        
        .daily-rate button:hover {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
        }
        
        .main-navigation li,
        .sort-block li,
        .hotel-filter li {
            list-style: none;
        }
        
        .main-navigation a {
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        
        .main-navigation a:hover {
            color: rgb(129, 179, 210);
        }
        
        .main-navigation a:active,
        .sort-by-types a {
            color: rgba(0, 0, 0, 0.3);
        }
        /*
    .main-navigation .site-nav .current {
        color: rgb(118, 99, 87);
    }*/
        /*for sort by types*/
        
        .sort-by-types a:hover {
            color: rgba(129, 179, 210, 1);
        }
        
        .sort-by-types a:active {
            color: rgba(0, 0, 0, 1);
            text-decoration: none;
        }
        /*.sort-by-types .current {
        color: rgba(129, 179, 210, 1);
        text-decoration: none;
    }*/
        /*UP and DONW sort buttons*/
        
        .sort-results a {
            text-decoration: none;
        }
        /*for button 'ABOUT'*/
        
        .result-item a.about:hover,
        .hotel-search .button2search:hover,
        .social-nets li:hover {
            background-color: rgba(102, 158, 192, 1);
        }
        
        .result-item a.about:active,
        .hotel-search .button2search:active,
        .social-nets li:active {
            background-color: rgba(84, 150, 189, 1);
            color: rgba(255, 255, 255, 0.3);
        }
        /*for button 'BOOK'*/
        
        .result-item a.book:hover,
        .search-screen .on-off-search:hover {
            background-color: rgb(96, 78, 67);
        }
        
        .result-item a.book:active,
        .search-screen .on-off-search:active {
            background-color: rgb(80, 61, 51);
            color: rgba(255, 255, 255, 0.3);
        }
        /*for hotel titles*/
        
        .result-item .hotel-title:hover {
            color: rgba(129, 179, 210, 1);
        }
        
        .result-item .hotel-title:active {
            color: rgba(0, 0, 0, 0.3);
        }
        /*for input fields in hotel search*/
        
        .hotel-search input {
            background-color: rgb(242, 242, 242);
            line-height: 26px;
        }
        
        .hotel-search input:hover {
            background-color: rgb(235, 235, 235);
        }
        
        .hotel-search input:focus {
            background-color: rgb(255, 255, 255);
        }
        
        .hotel-search .plusminus-button {
            color: rgba(0, 0, 0, 0.3);
        }
        
        .hotel-search .plusminus-button:hover {
            color: rgba(0, 0, 0, 1);
        }
        
        .hotel-search .plusminus-button:active {
            color: rgba(129, 179, 210, 1);
        }
        
        .hotel-search .calendar-icon:hover {
            fill: rgba(0, 0, 0, 1);
        }
        
        .hotel-search .calendar-icon:active {
            fill: rgba(129, 179, 210, 1);
        }
        
        .sort-button a svg {
            fill: rgba(0, 0, 0, 0.3);
        }
        
        .sort-button a:hover svg {
            fill: rgba(0, 0, 0, 1);
        }
        
        .sort-button a:active svg {
            fill: rgba(129, 179, 210, 1);
        }
        
        .sort-button .current svg {
            /*!!! same as :active !!!*/
        }
        
        .daily-rate .rangebutton:hover {
            box-sizing: content-box;
            width: 22px;
            height: 24px;
        }
        /*!!!-----BACKGROUNDS-----!!!*/
        
        .hotel-filter .infrastructure input,
        .hotel-filter li {
            cursor: pointer;
        }
        
        .hotel-filter .infrastructure input::before {
            width: 23px;
            height: 23px;
            content: "";
            background: transparent url("../img/checkbox-on.svg") no-repeat;
        }
        
        .daily-rate .rangebutton {
            box-sizing: content-box;
            width: 20px;
            height: 22px;
            background: url("../img/filter-button.svg") no-repeat;
        }
        
        .hotel-search .calendar-icon {
            width: 21px;
            height: 22px;
            box-sizing: content-box;
            fill: rgba(0, 0, 0, 0.3);
        }
        
        .search-screen .maps {
            width: auto;
            height: 200px;
            background-image: url("../img/map.png");
        }
        
        footer .social-nets li {
            list-style: none;
            box-sizing: content-box;
            width: 46px;
            height: 48px;
            background-color: rgba(129, 179, 210, 1);
        }
        
        footer .social-nets img {
            margin-top: 30%;
        }
        
        .content .features .item h2 {
            margin-top: 100px;
        }
        
        .content .features .item:nth-child(1) {
            background: url("../img/icon-1.svg") 50% 5% no-repeat;
        }
        
        .content .features .item:nth-child(2) {
            background: url("../img/icon-3.svg") 50% 5% no-repeat;
        }
        
        .content .features .item:nth-child(3) {
            background: url("../img/icon-2.svg") 50% 5% no-repeat;
        }
        /*  !!!  basic STYLE !!!  */
        
        .main-navigation {
            background: #7de93c;
        }
        
        .main-navigation a,
        .site-nav li {
            display: inline-block;
            margin: 10px 50px 10px 50px;
            width: 100px;
        }
        
        .content {
            background: #f8d9a9;
        }
        
        .content section {
            outline: 1px solid black;
        }
        
        .content .features,
        .content .facts {
            display: flex;
        }
        
        .content .features,
        .content .facts.line3 {
            justify-content: space-around;
        }
        
        .content .facts.line1,
        .content .facts.line2 {
            justify-content: space-between;
            height: 256px;
        }
        
        .content .line1 .item:nth-child(1),
        .content .line2 .item:nth-child(1) {
            width: 400px;
        }
        
        .search-screen .on-off-search,
        .search-screen .hotel-search {
            width: 568px;
            outline: 1px solid black;
        }
        
        .search-screen .hotel-search {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        /*
        .search-screen .visualy-hidden {
            display: none;
        }*/
        
        .search-screen input[name="adults"],
        .search-screen input[name="infants"],
        .search-screen .plusminus-button,
        .search-screen .calendar-icon {
            width: 38px;
            height: 38px;
        }
        
        .search-screen input[name="startdate"],
        .search-screen input[name="finaldate"] {
            width: 308px;
            height: 38px;
        }
        
        .search-screen .button2search {
            width: 458px;
            height: 58px;
            margin-bottom: 30px;
        }
        
        footer {
            background-color: #f8d9a9;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        
        footer .social-nets ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
        footer .social-nets li {
            margin-right: 8px;
        }
        /* !!!!  same for hotels.html  !!!!*/
        
        .hotel-filter form {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            /*background-color: #669ec0;*/
        }
        
        .sort-block {
            display: flex;
            align-items: baseline;
            background-color: #b289d4;
        }
        
        .sort-block span {}
        
        .sort-block .sort-by-types {
            display: flex;
            width: 400px;
            justify-content: space-around;
        }
        
        .sort-block .sort-button {
            display: flex;
            margin-left: auto;
        }
        
        .sort-results .result-item {
            height: 155px;
            outline: 1px solid red;
            background-color: #e4ef34;
            display: flex;
            justify-content: flex-start;
        }
        
        .sort-results .result-item .hotel-details {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        
        .sort-results .result-item .star-rate,
        .sort-results .result-item .rating {
            margin-left: auto;
        }