    /* basic styles*/
    
    body {
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-family: "PT Sans", "Arial", sans-serif;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        line-height: 1.857;
        text-align: center;
        background-color: rgb(242, 242, 242);
    }
    
    .wrapper {
        position: relative;
        min-width: 768px;
        max-width: 1200px;
        margin: 0 auto;
        box-shadow: 0 5px 15px 0px rgba(0, 1, 1, 0.2);
        background-color: #ffffff;
    }
    
    button {
        font: inherit;
    }
    
    .result-item .hotel-title {
        color: rgb(0, 0, 0);
    }
    
    .search-screen b {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.2;
    }
    
    .search-screen p {
        line-height: 24px;
        max-width: 560px;
        display: block;
        margin: auto;
        padding-top: 35px;
    }
    
    .sort-block b {
        text-align: left;
    }
    
    .sort-block span,
    .sort-by-types a {
        font-size: 12px;
        text-align: left;
    }
    
    .sort-block span,
    .sort-by-types {
        line-height: 18px;
    }
    
    .content .about p {
        color: rgb(51, 51, 51);
    }
    
    .content h2,
    .sort-results h2,
    .insta a,
    .sort-block b {
        font-size: 21px;
        font-weight: bold;
        line-height: 1.238;
    }
    
    .hotel-filter {
        background-color: #718595;
        background-image: url("../img/filter background.jpg");
        background-position: 50%;
        background-size: cover;
        min-height: 220px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        text-align: left;
        margin: 0;
        padding: 30px 75px 0 75px;
        box-sizing: border-box;
    }
    
    .site-nav a,
    .hotel-search .plusminus-button {
        font-weight: bold;
    }
    
    .hotel-filter legend {
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.313;
        text-align: left;
    }
    
    .line2 .item,
    .line1 .item,
    .line2 .item h2,
    .line1 .item h2,
    .result-item .about {
        background-color: rgba(129, 179, 210, 1);
        color: rgb(255, 255, 255);
    }
    
    .item h2,
    .item p,
    .result-item a {
        line-height: 21px;
    }
    
    .on-off-search,
    .button2search {
        font: inherit;
        background-color: rgb(118, 99, 87);
        font-size: 21px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.238;
        border: none;
    }
    
    .result-item .book {
        background-color: rgb(118, 99, 87);
        color: rgb(255, 255, 255);
        line-height: 1.238;
    }
    
    .button2search {
        background-color: rgb(129, 179, 210);
    }
    
    .hotel-search label {
        font-weight: bold;
        text-align: left;
    }
    
    .daily-rate button {
        font: inherit;
        width: 133px;
        height: 32px;
        background-color: transparent;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 2px;
        color: rgb(255, 255, 255);
        line-height: 1.5;
        display: block;
        margin: 0 auto;
    }
    
    .daily-rate input {
        line-height: 21px;
    }
    
    .result-item .rating {
        background-color: rgb(242, 242, 242);
        color: rgb(102, 102, 102);
        line-height: 1.5;
    }
    
    .html-logo {
        margin: 0;
        padding: 0;
    }
    
    .html-logo a {
        display: block;
        position: relative;
        text-align: center;
        padding-right: 123px;
    }
    
    .html-logo svg {
        position: absolute;
        right: 0;
        top: -5px;
        width: 115px;
        height: 41px;
    }
    
    .insta a:hover,
    .html-logo a:hover svg {
        color: rgba(102, 158, 192, 1);
        fill: rgba(102, 158, 192, 1);
    }
    
    .insta a:active,
    .html-logo a:active svg {
        color: rgba(0, 0, 0, 0.3);
        fill: rgba(0, 0, 0, 0.3);
    }
    /*!!!interactive elements statuses!!!*/
    
    .daily-rate button:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    
    .main-navigation li,
    .sort-block li,
    .hotel-filter li {
        list-style: none;
    }
    
    .main-navigation a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    
    .main-navigation a:hover {
        color: rgb(129, 179, 210);
    }
    
    .main-navigation a:active,
    .sort-by-types a {
        color: rgba(0, 0, 0, 0.3);
    }
    
    .site-nav .current,
    .site-nav .current:hover,
    .site-nav .current:active {
        color: #766357;
    }
    /*for sort by types*/
    
    .sort-by-types a:hover {
        color: rgba(129, 179, 210, 1);
    }
    
    .sort-by-types a:active {
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
    }
    /*.sort-by-types .current {
        color: rgba(129, 179, 210, 1);
        text-decoration: none;
    }*/
    /*UP and DONW sort buttons*/
    
    .sort-results a {
        text-decoration: none;
    }
    /*for button 'ABOUT'*/
    
    .result-item a.about:hover,
    .hotel-search .button2search:hover,
    .social-nets li:hover {
        background-color: rgba(102, 158, 192, 1);
    }
    
    .result-item a.about:active,
    .hotel-search .button2search:active,
    .social-nets li:active {
        background-color: rgba(84, 150, 189, 1);
        color: rgba(255, 255, 255, 0.3);
    }
    
    .social-nets li svg {
        margin-top: 15px;
        fill: rgba(255, 255, 255, 1);
    }
    
    .social-nets li:active svg {
        fill: rgba(255, 255, 255, 0.3);
    }
    /*for button 'BOOK'*/
    
    .result-item a.book:hover,
    .search-screen .on-off-search:hover {
        background-color: rgb(96, 78, 67);
    }
    
    .result-item a.book:active,
    .search-screen .on-off-search:active {
        background-color: rgb(80, 61, 51);
        color: rgba(255, 255, 255, 0.3);
    }
    /*for hotel titles*/
    
    .result-item .hotel-title:hover {
        color: rgba(129, 179, 210, 1);
    }
    
    .result-item .hotel-title:active {
        color: rgba(0, 0, 0, 0.3);
    }
    /*for input fields in hotel search*/
    
    .hotel-search input {
        background-color: rgb(242, 242, 242);
        line-height: 26px;
    }
    
    .hotel-search input:hover {
        background-color: rgb(235, 235, 235);
    }
    
    .hotel-search input:focus {
        background-color: rgb(255, 255, 255);
    }
    
    .hotel-search .plusminus-button,
    .hotel-search .calendar-icon {
        background-color: rgb(242, 242, 242);
    }
    
    .hotel-search .plusminus-button {
        color: rgba(0, 0, 0, 0.3);
    }
    
    .hotel-search .plusminus-button:hover {
        color: rgba(0, 0, 0, 1);
    }
    
    .hotel-search .plusminus-button:active {
        color: rgba(129, 179, 210, 1);
    }
    
    .hotel-search .calendar-icon:hover {
        fill: rgba(0, 0, 0, 1);
    }
    
    .hotel-search .calendar-icon:active {
        fill: rgba(129, 179, 210, 1);
    }
    
    .sort-button a svg {
        fill: rgba(0, 0, 0, 0.3);
    }
    
    .sort-button a:hover svg {
        fill: rgba(0, 0, 0, 1);
    }
    
    .sort-button a:active svg {
        fill: rgba(129, 179, 210, 1);
    }
    
    .sort-button .current svg {
        /*!!! same as :active !!!*/
    }
    
    .hotel-search .calendar-icon {
        box-sizing: border-box;
        fill: rgba(0, 0, 0, 0.3);
    }
    
    footer .social-nets li {
        list-style: none;
        box-sizing: content-box;
        width: 46px;
        height: 48px;
        background-color: rgba(129, 179, 210, 1);
    }
    
    footer .social-nets img {
        margin-top: 30%;
    }
    
    .content .features .item {
        margin: 0;
        padding: 160px 6% 0 6%;
        flex-basis: 33%;
    }
    
    .content .features .item:nth-child(1) {
        background: url("../img/icon-1.svg") 50% 60px no-repeat;
    }
    
    .content .features .item:nth-child(2) {
        background: url("../img/icon-3.svg") 50% 60px no-repeat;
    }
    
    .content .features .item:nth-child(3) {
        background: url("../img/icon-2.svg") 50% 60px no-repeat;
    }
    /*  !!!  basic STYLE !!!  */
    
    .main-navigation {
        width: 100%;
        padding: 17px 0 18px 0;
        /*min-height: 56px;*/
        position: relative;
    }
    
    .main-navigation>a {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        z-index: 10;
    }
    
    .site-nav {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 6%;
    }
    
    .site-nav li {
        flex-basis: 20%;
        margin: auto 0;
    }
    
    .site-nav li:nth-child(1) a,
    .site-nav li:nth-child(2) a {
        text-align: left;
    }
    
    .site-nav li:nth-child(3) a,
    .site-nav li:nth-child(4) a {
        text-align: right;
    }
    
    .site-nav li a {
        display: block;
    }
    
    .intro {
        width: 100%;
        height: 510px;
        margin: 0;
        padding: 0;
    }
    
    .intro-picture {
        margin: 0;
        padding: 0;
        height: 100%;
        background-color: #91bdd9;
        background-image: url("../img/shadow-intro.png"), url("../img/background-main.jpg");
        background-repeat: no-repeat;
        background-position: bottom, 0% 32%;
        background-size: 100%, cover;
        position: relative;
    }
    
    .intro-picture .active-text,
    .intro-picture .fixed-text {
        position: absolute;
    }
    
    .intro-picture .fixed-text {
        top: 77px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    
    .intro-picture .active-text {
        width: 270px;
        height: 40px;
        position: absolute;
        background: url("../img/to_the_gorgeous.png") 50% 50% no-repeat;
        top: 137px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
    }
    /*
        .intro:hover .active-text {
            background: url("../img/to_the_gorgeous_hov.png") 50% 50% no-repeat;
        }*/
    
    .intro-picture img {
        display: block;
        margin: 0 auto;
    }
    
    .content {
        margin: 0;
        padding: 0;
        /*dobavil*/
        display: flex;
        flex-direction: column;
    }
    
    .content .about {
        margin: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        min-height: 216px;
        box-sizing: border-box;
        /*word-wrap: break-word;
            background-color: #fff;*/
        align-self: center;
    }
    
    .about h2,
    .about p {
        max-width: 600px;
    }
    
    .content section {}
    
    .content .features,
    .content .facts {
        display: flex;
        padding: 0;
        margin: 0;
    }
    
    .content .facts {
        min-height: 256px;
    }
    
    .content .features {
        min-height: 330px;
    }
    
    .content .line3 {
        background-color: rgb(238, 238, 238);
    }
    
    .facts.line1 .item,
    .facts.line3 .item {
        flex-basis: 33%;
        margin: 0;
        padding: 0;
    }
    
    .content .item-info {
        margin: 0;
        padding: 10% 17% 0 17%;
    }
    
    .line3 h2 {
        display: block;
        margin: 10% auto 0 auto;
        max-width: 50%;
    }
    
    .facts.line1 .item.picture {
        flex-basis: 67%;
        background: url("../img/real_city-pic.jpg") 50% 50% no-repeat;
        background-size: cover;
    }
    
    .facts.line2 .item {
        flex-basis: 33%;
        order: 2;
    }
    
    .facts.line2 .item.picture {
        flex-basis: 67%;
        background: url("../img/devils_bridge-pic.jpg") 50% 50% no-repeat;
        background-size: cover;
        order: 1;
    }
    /* !!!!!!!!!!!!1 11111111111*/
    
    .search-screen .on-off-search {
        margin: 0;
        padding: 0;
        margin-top: 40px;
        width: 568px;
        height: 86px;
    }
    
    .search-screen .hotel-search {
        margin: 0 auto;
        width: 458px;
        height: 285px;
        position: relative;
        text-align: left;
    }
    
    .hotel-search-conteiner {
        position: absolute;
        z-index: 10;
        box-sizing: border-box;
        left: 50%;
        transform: translateX(-50%);
        width: 568px;
        height: 395px;
        /* margin: 0 auto;*/
        padding: 55px;
        background-color: rgb(255, 255, 255);
    }
    
    .search-screen .maps {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 600px;
        z-index: 1;
        /* background: url("../img/map.png") 50% 50% no-repeat;*/
    }
    
    .search-screen {
        position: relative;
    }
    
    .search-screen .visualy-hidden {
        display: ;
    }
    
    .search-screen input[name="adults"],
    .search-screen input[name="infants"],
    .search-screen .plusminus-button,
    .search-screen .calendar-icon {
        width: 38px;
        height: 38px;
    }
    
    .search-screen input[name="startdate"],
    .search-screen input[name="finaldate"] {
        width: 308px;
        height: 38px;
    }
    
    .search-screen .button2search {
        width: 458px;
        height: 58px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .hotel-search>input,
    .hotel-search>label,
    .hotel-search>button {
        display: inline-block;
        position: absolute;
        margin: 0;
        padding: 0;
        outline: none;
        border: none;
    }
    
    .hotel-search .calendar-icon.first {
        top: 0;
        right: 0;
    }
    
    .hotel-search input[id="startdate"] {
        top: 0;
        right: 38px;
    }
    
    .hotel-search .calendar-icon.second {
        top: 68px;
        right: 0;
    }
    
    .hotel-search input[id="finaldate"] {
        top: 68px;
        right: 38px;
    }
    
    .hotel-search .plusminus-button.four {
        top: 136px;
        right: 0;
    }
    
    .hotel-search input[id="infants"] {
        top: 136px;
        right: 38px;
        text-align: center;
    }
    
    .hotel-search .plusminus-button.three {
        top: 136px;
        right: 76px;
    }
    
    .hotel-search .plusminus-button.one {
        top: 136px;
        left: 112px;
    }
    
    .hotel-search input[id="adults"] {
        top: 136px;
        left: 150px;
        text-align: center;
    }
    
    .hotel-search .plusminus-button.two {
        top: 136px;
        left: 188px;
    }
    
    .hotel-search label[for="adults"] {
        top: 144px;
        left: 0;
    }
    
    .hotel-search label[for="infants"] {
        top: 144px;
        left: 280px;
    }
    
    .hotel-search label[for="startdate"] {
        top: 7px;
        left: 0;
    }
    
    .hotel-search label[for="finaldate"] {
        top: 74px;
        left: 0;
    }
    
    .hotel-search>input {
        margin-bottom: 30px;
        margin-left: auto;
    }
    
    .search-screen {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        padding-top: 60px;
    }
    
    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 120px;
        background-color: rgba(242, 242, 242, 0.9);
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
    }
    
    .hotel-page {
        background-color: rgba(255, 255, 255, 1);
    }
    
    .social-nets ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    footer .social-nets li {
        margin-right: 8px;
    }
    
    footer a {
        display: block;
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    /* !!!!  same for hotels.html  !!!!*/
    
    .hotel-filter form {
        display: flex;
        flex-direction: row;
        /*background-color: #669ec0;*/
    }
    
    .hotel-filter form {}
    
    .hotel-filter fieldset {
        border: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    
    .hotel-filter .daily-rate {
        margin-left: auto;
    }
    
    .hotel-filter input[type="checkbox"] {
        opacity: 0;
        display: none;
    }
    
    .hotel-filter li {
        position: relative;
        margin-top: 25px;
        text-align: left;
        left: -10px;
    }
    
    .infrastructure label,
    .hotel-type label {
        cursor: pointer;
    }
    
    .infrastructure label::before,
    .hotel-type label::before {
        content: "";
        position: absolute;
        display: block;
        left: -35px;
        top: -2px;
        width: 25px;
        height: 25px;
        background: url(../img/checkbox-off.svg) no-repeat;
    }
    
    .infrastructure input:checked+label::before,
    .hotel-type input:checked+label::before {
        background: url(../img/checkbox-on.svg) no-repeat;
    }
    
    .hotel-filter .hotel-type {
        margin-left: 100px;
        margin-right: 70px;
    }
    
    .daily-rate {
        box-sizing: border-box;
    }
    
    .daily-rate legend {
        margin-bottom: 10px;
    }
    
    .daily-rate-block {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        border: 2px solid #fff;
        border-radius: 2px;
        box-sizing: border-box;
        padding: 0;
        padding-top: 2px;
        margin-bottom: 20px;
        min-width: 212px;
        max-width: 318px;
        height: 32px;
        text-align: center;
    }
    
    .daily-rate label {
        display: inline-block;
        cursor: pointer;
    }
    
    .daily-rate .minrate,
    .daily-rate .maxrate {
        /*width: 90px;
            padding-left: 65px;*/
        width: 50%;
        box-sizing: border-box;
        text-align: right;
    }
    
    .daily-rate input {
        max-width: 50%;
        margin: 0;
        color: inherit;
        font: inherit;
        background: none;
        border: none;
    }
    
    .daily-rate-block::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 22px;
        background: #ffffff;
        transform: translate(-50%, -50%);
    }
    
    .pricerange-controls {
        position: relative;
        margin-bottom: 32px;
    }
    
    .pricerange-controls .scale {
        height: 2px;
        background: rgba(255, 255, 255, 0.3);
    }
    
    .pricerange-controls .bar {
        width: 80%;
        height: 2px;
        background: #ffffff;
    }
    
    .rangebutton {
        position: absolute;
        top: -9px;
        width: 4px;
        height: 4px;
        background: #ababab;
        border: 8px solid #ffffff;
        border-radius: 50%;
        box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
        cursor: pointer;
    }
    
    .rangebutton:hover {
        background: #1c4f80;
    }
    
    .rangebutton-min {
        left: 0;
    }
    
    .rangebutton-max {
        left: 80%;
    }
    
    .sort-block {
        display: flex;
        min-height: 90px;
        align-items: baseline;
        box-sizing: border-box;
        background-color: #fff;
        margin: 0;
        padding: 15px 75px 0 75px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .sort-block b {
        margin-right: 45px;
    }
    
    .sort-block .sort-by-types {
        margin-left: 10px;
        min-width: 245px;
        display: flex;
        justify-content: space-between;
    }
    
    .sort-by-types .current {
        color: rgb(129, 179, 210);
        text-decoration: none;
    }
    
    .sort-button .current svg,
    .sort-button .current:hover svg,
    .sort-button .current:active svg {
        fill: rgba(129, 179, 210, 1);
    }
    
    .sort-block .sort-button {
        display: flex;
        margin-left: auto;
    }
    
    .sort-button li:last-child {
        margin-left: 10px;
    }
    
    .sort-results {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        padding-bottom: 120px;
        display: flex;
        flex-direction: column;
    }
    
    .sort-results img {
        max-width: 100%;
    }
    
    .sort-results .result-item {
        min-height: 155px;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 30px 75px 0 75px;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .result-item .image-item {}
    
    .result-item .hotel-details {
        margin-left: 30px;
        text-align: left;
        min-height: 90px;
        box-sizing: border-box;
        max-width: 300px;
    }
    
    .hotel-about {
        display: flex;
        flex-wrap: wrap;
    }
    
    .hotel-about .about,
    .hotel-about span:nth-child(1) {
        flex-basis: 110px;
    }
    
    .hotel-about span {
        display: block;
    }
    
    .hotel-about span:nth-child(2),
    .hotel-about .book {
        flex-basis: 142px;
        margin-left: 10px;
    }
    
    .hotel-details .hotel-title {
        display: block;
        box-sizing: border-box;
        line-height: 0;
        margin: 0;
    }
    
    .hotel-details .button {
        display: inline-block;
        height: 27px;
        text-align: center;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 3px 5px;
    }
    /*
    .hotel-details .button.about {
        width: 110px;
    }
    
    .hotel-details .button.book {
        margin-left: 10px;
        width: 142px;
    }
    */
    
    .result-item .rating-block {
        margin-left: auto;
        text-align: right;
    }
    
    .rating-block .star-rate {
        height: 20px;
        background-image: url("../img/star.svg");
        background-repeat: space;
        margin-left: auto;
        margin-bottom: 40px;
    }
    
    .result-item:nth-child(1) .star-rate {
        width: 80px;
    }
    
    .result-item:nth-child(2) .star-rate {
        width: 60px;
    }
    
    .result-item:nth-child(3) .star-rate {
        width: 40px;
    }
    
    .rating-block .rating {
        display: block;
        width: 110px;
        height: 27px;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        padding: 4px;
    }
    
    .visualy-hidden {
        /* display: none;*/
    }